.jumbotron {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: yellow;
  background-image: url("steelers1.png");
  background-size: 200px 200px;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  padding-bottom: 300px;
}
h1 {
  text-shadow: 2px 2px 2px black;
}
th  {
  background-color: black;
  color: yellow;
}
